html,
body,
div,a,p,
h1,h2,h3,h4,h5,h6,
ul,li,table,thead,tbody{
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei",Arial,Tahoma,sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}

body{
  overflow: hidden;
}

ul{
  list-style: none;
}

input:focus{
  box-shadow: 0px 0px 2px rgb(92, 127, 89);
}

.clearfix{
  zoom: 1;
}

.clearfix:after{
  content: ""; 
  clear: both; 
}

.hide{
  display: none !important;
}

/*
  设置滚动条的样式
*/
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-track{
  background-color:rgba(175, 206, 77, 0.56);
}
::-webkit-scrollbar-thumb{
  background-color:#ccc;
  border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#666;
}
::-webkit-scrollbar-corner{
  background-color: #e0c5b0;
  border-radius: 2px;
  border: 1px solid rgba(212, 191, 191, 0.719);
  box-shadow: 0px 0px 5px rgba(175, 206, 77, 0.56);
}
body ::-webkit-scrollbar-thumb{
  background-color:#ddd;
}
